.message {
    font-weight: 600;
    font-size: 0.75em;
    text-align: center;
    margin: 0;
    padding: 0.4em 0 0.4em 0;
    color: white;
    background-color: rgba(0, 102, 153, 1);
    
    &:hover {
        background-color: rgba(0, 115, 173, 1);
    }
}



.message-wrapper {
    max-height: 0px;
    display: block;
    transition: max-height 0.4s ease-in-out,
}
